body {
    font-family: Arial, sans-serif;
    background-color: #f6edea;
    color: #593131;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #db9880;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.btn-header {
    background-color: #593131;
    color: #f6edea;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.hero {
    padding: 50px 20px;
}

.btn {
    background-color: #593131;
    color: #f6edea;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.kit {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

.precio {
    font-size: 18px;
}

.antes {
    text-decoration: line-through;
    color: #593131;
}

.despues {
    color: #db9880;
    font-weight: bold;
}

#pedido form {
    background: #fff;
    padding: 20px;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

button {
    background-color: #db9880;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #593131;
    color: #f6edea;
    padding: 10px;
}
